<div class="hero__block hidden md:block">
          <a href="" rel="nofollow" onclick="event.preventDefault();" class="stories-play-button" target="_blank">
            <img src="./src/assets/nursing-story.jpg" alt="Student standing in manufacturing facility" width="600" height="600">
            <div class="hero__overlay">
              <p class="hero__meta">Student Stories</p>
              <p class="hero__title">Resilience: A Nurse's Story</p>
              <button class="flex items-center bg-transparent border-none p-0 stories-play-button mt-4" rel="nofollow"><span class="hero__stories-play-button__container"><span class="svg svg--icon-play hero__stories-play-button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                       <path d="M8 5v14l11-7z"></path>
                                       <path d="M0 0h24v24H0z" fill="none"></path></svg></span></span><span class="hero__stories-play-button__label">Watch the video</span></button>
            </div>
       </a>
        </div>