<!--WRKY Modal-->
<div class="wrky-modal__button wrky-modal__trigger" role="button" tabindex="0" aria-haspopup="dialog" aria-expanded="false">
    <div class="ticker-wrapper">
        <div class="ticker">
            <div class="ticker-item">
                <span>Free Tuition Eligible</span>
                <span>Free Tuition Eligible</span>
                <span>Free Tuition Eligible</span>
                <span>Free Tuition Eligible</span>
                <span>Free Tuition Eligible</span>
            </div>
            <div class="ticker-item">
                <span>Free Tuition Eligible</span>
                <span>Free Tuition Eligible</span>
                <span>Free Tuition Eligible</span>
                <span>Free Tuition Eligible</span>
                <span>Free Tuition Eligible</span>
            </div>
            <div class="grow">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.436 27.436">
                    <path d="M1.414 0L0 1.416l12.303 12.303L0 26.022l1.414 1.414 12.303-12.303 12.305 12.303 1.414-1.416-12.303-12.303L27.436 1.414 26.022.002 13.72 12.305 1.414 0z"></path>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="wrky-modal" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description">
  <div class="wrky-modal__header">
    <div class="wrky-modal__close wrky-modal__icon-button" role="button" tabindex="0" aria-label="Close modal">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.436 27.436">
            <path d="M1.414 0L0 1.416l12.303 12.303L0 26.022l1.414 1.414 12.303-12.303 12.305 12.303 1.414-1.416-12.303-12.303L27.436 1.414 26.022.002 13.72 12.305 1.414 0z"></path>
        </svg>
    </div>
  </div>
    <div class="wrky__card">
        <a class="wrky__link">
            <div class="wrky-modal__content">
                <div class="wrky__media">
                    <img src="https://images.unsplash.com/photo-1619279302118-43033660826a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80" alt="Tuition Image">
                </div>
                <div class="wrky__content">
                    <h1 class="destroy" id="modal-title">Tuition<br/>Paid.</h1>
                    <p id="modal-description">Earn up to 60 credit hours tuition free. No work or apprenticeship required! Available to Kentucky residents with a high school diploma or working on their GED that don’t already have an associates degree or higher.</p>
                    <div class="wrky__cta">
                        <a class="wrky-modal__button wrky-modal__button--primary" role="button" aria-label="Request Information" tabindex="0">Request Information</a>
                    </div>
                </div>
            </div>
        </a>
        <div class="wrky__footer">
            <div class="wrky__cta">
                <a class="wrky-modal__button--text" role="button" aria-label="Find Out More" tabindex="0">Find out more
                    <span class="more-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="#00467f">
                            <path d="m31.71 15.295-10-10-1.42 1.42 8.3 8.29H0v2h28.59l-8.29 8.29 1.41 1.41 10-10a1 1 0 0 0 0-1.41z"/>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--end WRKY Modal-->